<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-4">
		<%= image_tag "dalison.jpg", width:"300", alt:"Profile Image" %>
	</div>

	<div class="col-md-8">
	  <h3>Motto:</h3>
	    <p>Fac Et Spera</p>
	    <p>Latin: Do & Hope</p>
	    <p>My interpretation: Work & Faith</p>

<hr>
<hr>
	    <h3>Mission:</h3>
	    <p>I want to help others reach their potential.  </p>

	</div>
</div>

