<h1>About Me</h1>

<hr>

<div class="row">
	<div class="col-md-4">
		<%= image_tag "dalison.jpg", width:"300", alt:"Profile Image" %>
	</div>

	<div class="col-md-8">
	  <h4>Motto:</h4>
		<p>Fac Et Spera. <em>Latin</em> = Hope and Do</p>
<hr>
	  <h4>Mission:</h4>
		<p>To help others find the meaning and humor in all things.</p>
	</div>
</div>