<h1>About Me</h1>

<hr>

<p>With over a decade of development experience in a number of industries I realized that the typical product creation process between clients and developers was flawed. All too often developers rarely communicate to clients throughout the development stage, resulting in a final product that fails to reach the goal sought by the customer and end user.</p>

<p>For this reason I decided to utilize a completely different development pattern that focuses on highly focused communication and transparent design patterns. When I take on a project not only do I work to craft the application according to the client's specifications, I give daily updates to ensure that the project is aligning properly with the client's goals. The end result is the right product, delivered on time, and on budget.</p>

<p>My story begins</p>

<p>
I graduated from Utah Valley University with a BA in Behavioral Science with an emphasis in Psychology. I grauduated Cum Laude and made it on the Dean's list 5 out of 6 semesters. Yes, I got my 4 year bachelors degree in 6 semesters - 2 years!  I did all of this while 


pre-TBI
	ranching
	construction
	fitness retail
		HTML
TBI
	relearn everything
	UVU - BA
		Cum Laude
	Westminster - MACL
		did not finish

	Insurance
	Stock Broker
		coding full time


	
.</p>

<p>Graduating without a CS degree felt like a missed opportunity. Why hadn't I discovered Computer Science earlier? I entered the finance field right out of college, and thoughts and 'what ifs' about software development were always with me. I quit a good job in order to pursue my passion and started coding full time. I love programming and want to be involved in it for the rest of my career.</p>