<h1>Would you like to connect?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
	<h3>Office Address</h3>

	<p>2912 Executive Pkwy #220, Lehi, UT 84043</p>

	<h3>Phone</h3>

	<p><%= number_to_phone "8017176612" %></p>

	<h3>Email</h3>

	<p><a href="mailto:dallasgriff@gmail.com?subject=PortfolioContact" "email me">Email Me</a> </p>
  </div>

  <div class="col-md-6">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1911.6655865573973!2d-111.89683769700788!3d40.427495625834865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d8554c917de07%3A0x865ac5eda44125a!2sBottega!5e0!3m2!1sen!2sus!4v1493141960665" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe> 
  </div>
</div>
