<div class="app-card-contact">
  <div class="card">
  <h1>Would you like to contact me?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>2912 Executive Pkwy #220, Lehi, UT 84043</p>

    <p><h3>Phone</h3></p>

    <p><%= number_to_phone "8017176612" %></p>

    <h3>Email</h3>

    <p><a href="mailto:dallasgriff@gmail.com?subject= Portfolio Contact" "email me">email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12148.723591077094!2d-111.8985922!3d40.4269931!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x865ac5eda44125a!2sBottega!5e0!3m2!1sen!2sus!4v1493409772342" width="350" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>




