<div class="inner cover">
  <h1 class="cover-heading"> - My developer portfolio - </h1>
  <p class="lead">This site serves as a place where I can share projects that I have or am currently working on as I learn full stack.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-primary" %>
  </p>
</div>