<div class="inner cover">
  <h1 class="cover-heading">Welcome to my portfolio site.</h1>
  <p class="lead">This site will serve as a place where I can share projects that I have worked or am currently working on as I become a full stack developer.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-primary" %>
  </p>
</div>